* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
header#header {
    width: 100%;
}
#dashboard_nav {
    height: 40px;
    width: 100%;
    background-color: rgb(52, 58, 64);
    color: rgba(255, 255, 255, 0.5);
}
#navContent {
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
ul#navlinks,
ul#accountlinks {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
ul#navlinks li,
ul#accountlinks li {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}
#dashboard_nav a.active {
    color: white;
}
#dashboard_nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
ul#accountlinks li span.head_link {
    margin-left: 10px;
}
#navContent {
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#dashboard_logo {
    color: white;
    display: flex;
    align-items: center;
}
#dashboard_logo {
    height: 100px;
    width: 100%;
    background-color: #06acdc;
    padding: 65px 0;
}
#dashboard_logo #logo_content {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
#logo_content .logo {
    height: 100px;
}
#logo_content h1 {
    margin-left: 50px;
}
img {
    vertical-align: middle;
    border-style: none;
}
#sidebar,
#content {
    float: left;
}
#sidebar {
    width: auto;
    min-height: 100%;
    background-color: rgb(52, 58, 64);
    color: white;
}
#sidebarContent {
    padding-top: 20px;
}
#sidebarContent ul li.active {
    background-color: #06acdc;
}
ul#navlinks2 li {
    position: relative;
}
#sidebarContent ul li {
    display: block;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul#navlinks2 li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #06acdc;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
#sidebarContent ul li a {
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
}
.navlin:link,
.navlin:visited {
    color: rgb(250, 249, 249);
    position: relative;
    z-index: 10;
}
#sidebarContent ul li.active {
    background-color: #06acdc;
}
ul#navlinks2 li:hover::before {
    transform: scaleY(1);
    width: 100%;
}
ul#navlinks2 li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #06acdc;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
#bottom {
    height: calc(100% - 170px);
}
.white_icon {
    color: white;
}
.icon-cog {
    color: white;
}
.page_heading {
    text-align: center;
    font-size: 40px;
    border-bottom: 4px solid #06acdc;
    width: 55%;
    padding-bottom: 15px;
    margin: auto;
}
main#content {
    width: 80%;
    padding: 75px;
    overflow: auto;
    background-color: whitesmoke;
}
.fancy_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 30px;
}
.fancy_table td,
.fancy_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}
.fancy_table th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #06acdc;
        color: white;
}

#special_actions {
    width: 140px;
}
#membership {
    width: 120px;
}
#zipcode {
    width: 120px;
}
#last_name {
    width: 150px;
}
#first_name {
    width: 150px;
}
#spouse {
    width: 150px;
}
#municipality {
    width: 175px;
}
.empty_row{
    height: 50px;
}
tr.main_group{
    font-weight: bold;
}
#deposit_table .table_row td:nth-child(3),
#deposit_table .table_row td:nth-child(4),
#deposit_table .table_row td:nth-child(5){
    text-align:center;
}
#deposit_table tr th.special_col{
    width: 250px;
}
        #login_bg{
            background-color: #06acdc;
        }
        * {
    margin: 0;
    padding: 0;
}

#login_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #06acdc;
}
.login_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login_content img {
    height: 200px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
.form-signin h1.logo {
    height: 165px;
}
h1.sign-label {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    cursor: pointer;
}
.sign-button {
    margin-top: 10px;
    background-color: chocolate;
    background-image: url(https://www.transparenttextures.com/patterns/60-lines.png);
}
.btn-block {
    display: block;
    width: 100%;
}
.table_row .special_actions{
    display: flex;
    justify-content: space-evenly;
}
.table_row .special_actions a:hover{
    cursor: pointer;
    color: chocolate;
}
ul#nav_tabs{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
ul#nav_tabs li.nav_item.active{
    background-color: lightgray;
}
#nav_tabs li.nav_item {
    width: calc(100%/3);
}
ul#nav_tabs li.active {
    height: 50px;
    background-color: #aaa;
    background-image: url(https://www.transparenttextures.com/patterns/60-lines.png);
    color: black;
}
ul#nav_tabs li {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid chocolate;
    border-bottom: 1px solid chocolate;
    height: 50px;
    background-color: lightgrey;
    background-image: url(https://www.transparenttextures.com/patterns/60-lines.png);
    transition: all 0.75s;
    color: black;
}
 #nav_tabs li.nav_item:not(.active) {
    background-color: whitesmoke;
    background-image: linear-gradient(to left, transparent, transparent 50%, lightgray 50%, lightgray);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
 }
 ul#nav_tabs li a.nav_link {
    height: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
#nav_tabs li.nav_item:not(.active):hover {
    background-position: 0 0;
}

    #spinner_holder{
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        overflow: hidden;
        z-index: 100000;
    }

#loader {
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #06acdc;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
    }
      
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
      
    .center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    h2.table_heading{
        width: 100%;
    text-align: center;
    border-bottom: 3px solid #666;
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    h2.table_heading span{
        background: whitesmoke;
        padding: 0 10px;
        font-size: 26px;
        color: #06acdc;
    }
    tr.table_row{
        background-color: white;
    }